<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./api/products/QAOperator.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Wojciech Wołoszun</h3>
      </div>

      <div class="text-center">@wojciechwoloszun</div>
      <div class="text-center">
        <a href="https://www.linkedin.com/in/wojciech-wołoszun-88888412b">Linkedin</a>
      </div>
    </div>
  </div>
</div>
